/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.cache/
.cache/
.config/
.local/
Downloads/
.pki/
snap/
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
laravel-kubernetes/
.ssh/
Pictures/
.gitignore
larav/
larav/storage/framework/
laravpang/laravel.zip
.gitignore
.sudo_as_admin_successful
.kube/config
.gitignore
.gnupg/pubring.kbx
.gitignore
.gitignore
.gitignore
.gitignore
.gitignore
testirfan/storage/framework/sessions/TZtZCNBMIILXb2IZVoYp6nQCfEZzlCsTXyeW1Fb1
testirfan/storage/framework/views/680bbb0420644d86b70797ab170fb97cb6b8d5e6.php
.gitignore
testirfan/storage/framework/sessions/6hDwbjggYzQ2WiNaWhhbz7KyGVk62GMLaYKcIVNA
testirfan/bootstrap/cache/services.php
testirfan/bootstrap/cache/packages.php
.kube/cache/http/859e5574972018b481cf40fcba021a31756afcc36a2b88b1f6aaf9dfd67b21cd
.kube/cache/http/0f3073b820f048eeb1c75b819548fd41d4dc06dce5f53f2d37fc986456f70d48
testirfan/storage/framework/sessions/FBayBA2sMzTUMsMMdgcfqQ79DMloDFGWkiCIOwNM
.gitignore
.gitignore
.bash_history
.gitignore
.gitconfig
.gitignore
.gnupg/trustdb.gpg

